* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
  height: 90vh;
}
h1{
  text-align: center;
  margin-bottom: 40px;
}
.section1 {
  border: 1px solid black;
  width: fit-content;
}

.redBox {
  width: 140px;
  height: 140px;
  background-color: red;
  padding-top: 20px;
}
.whiteBox {
  width: 90px;
  height: 90px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin: auto;
  padding-top: 10px;
}
.redCirclesMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.redCircles {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  padding-top: 8px;
}
.whiteCircles {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
}

.redTableGreenBoxsMain {
  display: flex;
  justify-content: center;
}

.greenLine {
  background-color: green;
}

/*  */
.TableMiddleBoxTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleBox {
  width: 100px;
  height: 140px;
  background-color: antiquewhite;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.green {
  width: 25px;
  height: 25px;
  background-color: green;
}

.redYellow {
  display: flex;
}

.red {
  width: 25px;
  height: 25px;
  background-color: red;
}

.yellow {
  margin-left: 50px;
  width: 25px;
  height: 25px;
  background-color: yellow;
}

.blue {
  width: 25px;
  height: 25px;
  background-color: #add8e6;
}
table.middleTables {
  width: 140px;
  height: 80px;
}
.redLine {
  background-color: red;
}

.yellowLine {
  background-color: yellow;
}
/*  */

.blueTableYellowBoxesMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueLine {
  background-color: #add8e6;
}
.greenBox {
  background-color: green;
}

.blueBox {
  background-color: #add8e6;
}
.yellowBox {
  background-color: yellow;
}
.greenCircles {
  background-color: green;
}
.blueCircles {
  background-color: #add8e6;
}

.yellowCircles {
  background-color: yellow;
}

table {
  width: 100px;
  height: 140px;
}
td {
  width: 3px;
  height: 3px;
}
